h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: not-allowed;
    color: red;
    font-weight: bold;
}

.error {
    background-color: red;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
}